@page
@model MessageDetails
@{
    ViewData["Title"] = "Selected message details";  //TODO Add ID value to page title
}
<h2>@ViewData["Title"]</h2>

<div>
    <text>Post ID: </text>@Model.selectedMessage.postID<br>
    <text>User ID: </text>@Model.selectedMessage.userID<br>
    <text>Title: </text>@Model.selectedMessage.title<br>
    <Text>Body: </Text>@Model.selectedMessage.body<br>
</div>
